{% extends "invApp/layout.html" %}

{% block title %} Products in Stock {% endblock %}

{% block content %}
  <h2>Available Products for Purchase</h2>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>${{ product.price }}</td>
        <td>
          <a href="#" class="btn btn-primary">Buy</a>
        </td>
      </tr>
      {% empty %}
        <tr><td colspan="3">No products in stock.</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
